*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#f7f7f7;
}

.grid-container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto; 
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    gap: 20px;
}

header{
    grid-area: header;
    background: white;
}

main{
    grid-area:main;
}

footer{
    grid-area:footer;
}

.header-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px;
    margin-bottom: 100px;
    flex-wrap:wrap ;
    border: 5px solid grey;
    padding: 50px;
}

.header-center h1{
    position: relative;
    left: 45%;
    transform: translateX(-50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.25rem;
    font-size: 80px;  
}

.navbar{
    margin-left: auto;
    display: flex;
    gap:40px;
    font-size: 30px;
}

.navbar a{
    text-decoration:none;
    color: black;
}

.navbar a:hover{
    background: brown;
    color: #f7f7f7;
}

.main-center{
    display: flex;
    flex-direction: column;
}

.main-center h2{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-bottom: 50px;
}

.galerie {
    column-count: 3;       
    column-gap: 20px;
    margin: 20px;     
}

.galerie img {
    width: 100%;           
    margin-bottom: 40px;  
    border-radius: 10px;
    display: block;
    object-fit: cover;     
    transition: transform 0.3s;
}

.galerie img:hover {
    transform: scale(1.05);  
}

.footer-center{
    text-align: center;
    border: 5px solid grey;
     padding: 50px;
     font-size: 30px;
     font-weight: bold;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Responsives */

@media (max-width: 1024px) {
    .galerie {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .galerie {
        column-count: 1;
    }
}

